Flask
Jinja2
MarkupSafe
Pillow
PyMySQL
Pygments
SQLAlchemy
Werkzeug
backcall
click
colorama
cssselect2
cycler
decorator
greenlet
ipython
itsdangerous
jedi
joblib
kiwisolver
lxml
matplotlib
matplotlib-inline
numpy
pandas
parso
pickleshare
pip
plotly
prompt-toolkit
pygal
pyparsing
python-dateutil
pytz
reportlab
scikit-learn
scipy
seaborn
setuptools
six
sklearn
svglib
tenacity
threadpoolctl
tinycss2
traitlets
wcwidth
webencodings
wheel
xgboost
gunicorn
boto3
botocore