{% extends "base.html" %}
     {% block body %}
     <div class="bd-cheatsheet container-fluid bg-body">
          <section id="content">
              <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">AI Pratice</h2>
              <article class="my-3" id="typography">
                    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                    </div>
                    <div>
                        <form method="POST" Name="send_request" action="{{url_for('Get_RFM')}}">
                            <h1>演算法計算</h1>
                            <p>RFM Model</p>
                              <p>這裡使用的是lifetimes的summary_data_from_transaction_data，主要取得客戶的RFTM</p>
                              <div class="col-12 mt-3 pt-3">
                                <button type="submit" class="btn btn-outline-primary">取得客戶的RFM資料
                                </button>
                              </div>
                        </form>
                        <footer class="mt-auto text-dark-50">
                            <p>Creating by wendyyao</p>
                        </footer>
                    </div>
              </article>
          </section>
      </div>
      <script type="text/javascript" src="{{ url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}